In [14]:
from google.colab import drive

In [15]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [16]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

pd.options.display.float_format = '{:,.2f}'.format

In [17]:
movies_df = pd.read_csv(r'/content/gdrive/My Drive/dataa/IMDbmovies.csv')
movies_df.head(5)

<ipython-input-17-2e61176ec5f7>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv(r'/content/gdrive/My Drive/dataa/IMDbmovies.csv')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey Depew",The adventures of a female reporter in the 1890s.,5.90,154,NaN,NaN,NaN,NaN,1.00,2.00
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Bella Cola, Will Coyne, Sam Crewes, Jack Ennis, John Forde, Vera Linden, Mr. Marshall, Mr. McKenzie, Frank Mills, Ollie Wilson",True story of notorious Australian outlaw Ned Kelly (1855-80).,6.10,589,$ 2250,NaN,NaN,NaN,7.00,7.00
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helsengreen, Emil Albes, Hugo Flink, Mary Hagen","Two men of high rank are both wooing the beautiful and famous equestrian acrobat Stella. While Stella ignores the jeweler Hirsch, she accepts Count von Waldberg's offer to follow her home, ...",5.80,188,NaN,NaN,NaN,NaN,5.00,2.00
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, Miss Robson, Helene Costello, Charles Sindelar, Mr. Howard, James R. Waite, Mr. Osborne, Harry Knowles, Mr. Paul, Mr. Brady, Mr. Corker",The fabled queen of Egypt's affair with Roman general Marc Antony is ultimately disastrous for both of them.,5.20,446,$ 45000,NaN,NaN,NaN,25.00,3.00
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de Liguoro, Pier Delle Vigne, Augusto Milla, Attilio Motta, Emilise Beretta",Loosely adapted from Dante's Divine Comedy and inspired by the illustrations of Gustav Doré the original silent film has been restored and has a new score by Tangerine Dream.,7.00,2237,NaN,NaN,NaN,NaN,31.00,14.00

In [18]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   title                  85855 non-null  object
 2   original_title         85855 non-null  object
 3   year                   85855 non-null  object
 4   date_published         85855 non-null  object
 5   genre                  85855 non-null  object
 6   duration               85855 non-null  int64
 7   country                85791 non-null  object
 8   language               85022 non-null  object
 9   director               85768 non-null  object
 10  writer                 84283 non-null  object
 11  production_company     81400 non-null  object
 12  actors                 85786 non-null  object
 13  description            83740 non-null  object
 14  avg_vote               85855 non-null  float64
 15  votes                  85855 non-null  int64
 16  budget                 23710 non-null  object
 17  usa_gross_income       15326 non-null  object
 18  worlwide_gross_income  31016 non-null  object
 19  metascore              13305 non-null  float64
 20  reviews_from_users     78258 non-null  float64
 21  reviews_from_critics   74058 non-null  float64
dtypes: float64(4), int64(2), object(16)
memory usage: 14.4+ MB

In [19]:
movies_df[['director', 'genre', 'original_title']]

,director,genre,original_title
0,Alexander Black,Romance,Miss Jerry
1,Charles Tait,"Biography, Crime, Drama",The Story of the Kelly Gang
2,Urban Gad,Drama,Den sorte drøm
3,Charles L. Gaskill,"Drama, History",Cleopatra
4,"Francesco Bertolini, Adolfo Padovan","Adventure, Drama, Fantasy",L'Inferno
...,...,...,...
85850,Ludovic Colbeau-Justin,Comedy,Le lion
85851,Johan Nijenhuis,"Comedy, Drama",De Beentjes van Sint-Hildegard
85852,Vineesh Aaradya,Drama,Padmavyuhathile Abhimanyu
85853,Ahmet Faik Akinci,"Drama, Family",Sokagin Çocuklari
85854,Laura Jou,Drama,La vida sense la Sara Amat

In [20]:
movies_df[movies_df['avg_vote'] >= 7.0].head(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de Liguoro, Pier Delle Vigne, Augusto Milla, Attilio Motta, Emilise Beretta",Loosely adapted from Dante's Divine Comedy and inspired by the illustrations of Gustav Doré the original silent film has been restored and has a new score by Tangerine Dream.,7.00,2237,NaN,NaN,NaN,NaN,31.00,14.00
11,tt0002844,Fantômas - À l'ombre de la guillotine,Fantômas - À l'ombre de la guillotine,1913,1913-05-12,"Crime, Drama",54,France,French,Louis Feuillade,"Marcel Allain, Louis Feuillade",Société des Etablissements L. Gaumont,"René Navarre, Edmund Breon, Georges Melchior, Renée Carl, Jane Faber, André Volbert, Naudier, Maillard, Yvette Andréyor, André Luguet",Inspector Juve is tasked to investigate and capture an infamous criminal Fantomas.,7.00,1944,NaN,NaN,NaN,NaN,9.00,28.00
12,tt0003014,Il calvario di una madre,Ingeborg Holm,1913,1915-10-18,Drama,96,Sweden,NaN,Victor Sjöström,Nils Krok,Svenska Biografteatern AB,"Hilda Borgström, Aron Lindgren, Erik Lindholm, Georg Grönroos, William Larsson, Richard Lund, Carl Barcklind, Hugo Björne, Bertil Malmstedt",Single mother is separated from her children due to financial struggles.,7.10,948,NaN,NaN,NaN,NaN,16.00,7.00

In [21]:
movies_df.sort_values(by='avg_vote', ascending=False).head(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
83275,tt7822474,Suvarna Sundari,Suvarna Sundari,2019,2019-05-31,"Action, Thriller",120,India,"Telugu, Kannada",Msn Surya,NaN,S Team Pictures,"Shamna Kasim, Sakshi Chaudhary, Jaya Prada, Avantika Vandanapu, Avinash, Indra, Srinivasa Rao Kota, Sai Kumar, Nagineedu, Sathya Prakash, Raam","The movie revolves around an idol, Suvarna Sundari and the effects of it. The idol, also known as Trinetri, dates back to 15th century. Whoever possesses the idol, becomes a victim of ...",9.90,896,NaN,NaN,NaN,NaN,NaN,2.00
84995,tt9008642,Notuku Potu,Notuku Potu,2017,2017-03-24,"Horror, Mystery",121,India,Telugu,Basheed S.K.,NaN,SBK Films,"Mumait Khan, Manisha Koirala, Arjun Sarja","Notuku Potu is a crime story laced with elements of horror and thrill. The story is about a man who, after the death of a woman, is pulled into a world of mystery and conspiracy.",9.80,926,NaN,NaN,NaN,NaN,2.00,1.00
55310,tt11976170,Jeeudo,Jeeudo,2020,2020-02-27,"Drama, Romance",150,India,"English, Nepali",Aalmist Subba,"Aalmist Subba, Chanchal Thapa",Aalmist Productions,"Prashant Baraili, Davina, Pranisha Gahatraj, Pujan Ghishing, Budhiman Rai, Shradha Sharma, Kesang Sir, Aalmist Subba, Birbal Subba, Priten Tamang, Koiling Lepcha Yue","""A TALE OF LOVE, MYTH, AND FATE"" ""JEEUDO"" (meaning ""Alive""), it's a tale of Love, Myth, and Fate. At its core, is an innocent story of love, friendship, and sacrifice of the three ...",9.80,130,INR 4700000,NaN,NaN,NaN,114.00,NaN

In [22]:
movies_df.describe(include=np.number)

,duration,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics
count,"85,855.00","85,855.00","85,855.00","13,305.00","78,258.00","74,058.00"
mean,100.35,5.90,"9,493.49",55.90,46.04,27.48
std,22.55,1.23,"53,574.36",17.78,178.51,58.34
min,41.00,1.00,99.00,1.00,1.00,1.00
25%,88.00,5.20,205.00,43.00,4.00,3.00
50%,96.00,6.10,484.00,57.00,9.00,8.00
75%,108.00,6.80,"1,766.50",69.00,27.00,23.00
max,808.00,9.90,"2,278,845.00",100.00,"10,472.00",999.00

In [23]:
movies_df.describe(include=['O'])

,imdb_title_id,title,original_title,year,date_published,genre,country,language,director,writer,production_company,actors,description,budget,usa_gross_income,worlwide_gross_income
count,85855,85855,85855,85855,85855,85855,85791,85022,85768,84283,81400,85786,83740,23710,15326,31016
unique,85855,82094,80852,168,22012,1257,4907,4377,34733,66859,32050,85729,83611,4642,14857,30414
top,tt0000009,Anna,Anna,2017,2010,Drama,USA,English,Jesús Franco,Jing Wong,Metro-Goldwyn-Mayer (MGM),"Nobuyo Ôyama, Noriko Ohara, Michiko Nomura, Kaneta Kimotsuki, Kazuya Tatekabe",The story of,$ 1000000,$ 1000000,$ 8144
freq,1,10,10,3223,113,12543,28511,35939,87,84,1284,9,15,758,19,15

In [24]:
movies_df[~(movies_df['worlwide_gross_income'].isna())]['worlwide_gross_income'].head(10)

79      $ 144968
165       $ 8811
210       $ 4272
222     $ 772155
245    $ 9183673
251      $ 26916
254    $ 1108882
258      $ 12156
297      $ 19054
348      $ 11233
Name: worlwide_gross_income, dtype: object

In [25]:
movies_df['worlwide_gross_income'] = movies_df['worlwide_gross_income'].str.extract(r'(\d+)').astype('float')
movies_df[~(movies_df['worlwide_gross_income'].isna())].head(10)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
79,tt0007183,Pikovaya dama,Pikovaya dama,1916,1916-04-01,"Drama, Fantasy, Horror",63,Russia,Russian,Yakov Protazanov,"Alexander Pushkin, Fyodor Otsep",NaN,"Tamara Duvan, Ivan Mozzhukhin, Vera Orlova, Nikolai Panov, Polycarpe Pavloff, Yelizaveta Shebueva","While hosting a game of cards one night, Narumov tells his friends a story about his grandmother, a Countess. As a young woman, she had once incurred an enormous gambling debt, which she ...",7.00,610,NaN,NaN,"144,968.00",NaN,7.00,5.00
165,tt0010323,Il gabinetto del dottor Caligari,Das Cabinet des Dr. Caligari,1920,1920-02-27,"Fantasy, Horror, Mystery",76,Germany,German,Robert Wiene,"Carl Mayer, Hans Janowitz",Decla-Bioscop AG,"Werner Krauss, Conrad Veidt, Friedrich Feher, Lil Dagover, Hans Heinrich von Twardowski, Rudolf Lettinger","Hypnotist Dr. Caligari uses a somnambulist, Cesare, to commit murders.",8.10,55601,$ 18000,$ 8811,"8,811.00",NaN,237.00,160.00
210,tt0011440,Markens grøde,Markens grøde,1921,1921-12-02,Drama,107,Norway,NaN,Gunnar Sommerfeldt,"Knut Hamsun, Gunnar Sommerfeldt",Christiana Film,"Amund Rydland, Karen Poulsen, Ragna Wettergreen, Gunnar Sommerfeldt, Inge Sommerfeldt, Almar Bjoernefjell, Sigurd Berg Bruland, Siljusson av Terna, Sivert Eliassen, Ernst Vaumund, Rolf Christensen, Sigurd Eliasson, Fordel Johnsen, Sigurd Køvatn, Hans A. Meyer","After the Nobel prize winning Knut Hamsun-novel, with it's criticism of industrialization, urbanizing and loss of values. The farmer Isak makes a farm out of barren soil, together with Inger and their two sons. She kills the third.",6.60,195,NOK 250000,NaN,"4,272.00",NaN,3.00,3.00
222,tt0011741,Suds,Suds,1920,1920-01-27,"Comedy, Drama, Romance",75,USA,English,John Francis Dillon,"Waldemar Young, Richard Bryce",Mary Pickford Company,"Mary Pickford, Albert Austin, Harold Goodwin, Rose Dione, Darwin Karr, Lavendor the Horse","A London laundress attempts to rise above her station in order to capture the love of a wealthy young man, thus missing out on the truer love of one of her own class.",6.30,210,NaN,NaN,"772,155.00",NaN,9.00,1.00
245,tt0012190,I quattro cavalieri dell'Apocalisse,The Four Horsemen of the Apocalypse,1921,1923-04-16,"Drama, Romance, War",150,USA,None,Rex Ingram,"Vicente Blasco Ibáñez, June Mathis",Metro Pictures Corporation,"Pomeroy Cannon, Josef Swickard, Bridgetta Clark, Rudolph Valentino, Virginia Warwick, Alan Hale, Mabel Van Buren, Stuart Holmes, John St. Polis, Alice Terry, Mark Fenton, Derek Ghent, Nigel De Brulier, Bowditch M. Turner, Edward Connelly",An extended family split up in France and Germany find themselves on opposing sides of the battlefield during World War I.,7.20,3058,$ 800000,$ 9183673,"9,183,673.00",NaN,45.00,16.00
251,tt0012349,Il monello,The Kid,1921,1923-11-26,"Comedy, Drama, Family",68,USA,"English, None",Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Carl Miller, Edna Purviance, Jackie Coogan, Charles Chaplin","The Tramp cares for an abandoned child, but events put that relationship in jeopardy.",8.30,109038,$ 250000,NaN,"26,916.00",NaN,173.00,105.00
254,tt0012397,Little Lord Fauntleroy,Little Lord Fauntleroy,1921,1921-09-15,Drama,112,USA,English,"Alfred E. Green, Jack Pickford","Frances Hodgson Burnett, Bernard McConville",Mary Pickford Company,"Mary Pickford, Claude Gillingwater, Joseph J. Dowling, James A. Marcus, Kate Price, Fred Malatesta, Rose Dione, Arthur Thalasso, Colin Kenny, Emmett King, Madame De Bodamere, Jackie Condon, Gordon Griffith, Francis Marion",An American boy turns out to be the long-lost heir of a British fortune. He is sent to live with the cold and unsentimental lord who oversees the trust.,6.70,276,NaN,$ 900000,"1,108,882.00",NaN,7.00,4.00
258,tt0012494,Destino,Der müde Tod,1921,1925,"Drama, Fantasy, Thriller",97,Germany,German,Fritz Lang,"Fritz Lang, Thea von Harbou",Decla-Bioscop AG,"Bernhard Goetzke, Lil Dagover, Walter Janssen, Hans Sternberg, Karl Rückert, Max Adalbert, Wilhelm Diegelmann, Erich Pabst, Karl Platen, Hermann Picha, Paul Rehkopf, Max Pfeiffer, Georg John, Lydia Potechina, Grete Berger","When a woman's fiancé disappears, Death gives her three chances to save him from his fate.",7.70,5136,NaN,$ 12156,"12,156.00",NaN,34.00,43.00
297,tt0013442,Nosferatu - Il vampiro,"Nosferatu, eine Symphonie des Grauens",1922,1922-03-04,"Fantasy, Horror",94,Germany,German,F.W. Murnau,"Henrik Galeen, Bram Stoker",Jofa-Atelier Berlin-Johannisthal,"Max Schreck, Gustav von Wangenheim, Greta Schröder, Georg H. Schnell, Ruth Landshoff, Gustav Botz, Alexander Granach, John Gottowt, Max Nemetz, Wolfgang Heinz, Albert Venohr, Eric van Viele",Vampire Count Orlok expresses interest in a new residence and real estate agent Hutter's wife.,7.90,86620,NaN,NaN,"19,054.00",NaN,419.00,202.00
348,tt0014624,La donna di Parigi,A Woman of Paris: A Drama of Fate,1923,1927-06-06,"Drama, Romance",82,USA,"None, English",Charles Chaplin,Charles Chaplin,Charles Chaplin Productions,"Edna Purviance, Clarence Geldart, Carl Miller, Lydia Knott, Charles K. French, Adolphe Menjou, Betty Morrissey, Malvina Polo",A kept woman runs into her former fiancé and finds herself torn between love and comfort.,7.00,4735,$ 351000,NaN,"11,233.00",NaN,37.00,24.00

In [26]:
movies_df[['original_title', 'worlwide_gross_income']].sort_values(by='worlwide_gross_income', ascending=False).head(10)

                                   original_title  worlwide_gross_income
73865                           Avengers: Endgame       2,797,800,564.00
49415                                      Avatar       2,790,439,092.00
31086                                     Titanic       2,195,169,869.00
67523  Star Wars: Episode VII - The Force Awakens       2,068,224,036.00
73864                      Avengers: Infinity War       2,048,359,754.00
43822                              Jurassic World       1,670,401,444.00
79633                               The Lion King       1,656,963,790.00
50773                                The Avengers       1,518,814,206.00
68760                            Fast & Furious 7       1,515,048,151.00
74934                                   Frozen II       1,450,026,933.00

In [30]:
ratings_df = pd.read_csv(r'/content/gdrive/My Drive/dataa/IMDbratings.csv', usecols=['imdb_title_id', 'mean_vote', 'median_vote', 'males_allages_avg_vote', 'females_allages_avg_vote', 'total_votes'])
ratings_df.head(5)

,imdb_title_id,total_votes,mean_vote,median_vote,males_allages_avg_vote,females_allages_avg_vote
0,tt0000009,154,5.90,6.00,6.20,6.00
1,tt0000574,589,6.30,6.00,6.10,6.20
2,tt0001892,188,6.00,6.00,5.90,5.70
3,tt0002101,446,5.30,5.00,5.10,5.90
4,tt0002130,2237,6.90,7.00,7.00,7.20

In [32]:
movie_ratings_df = movies_df[['imdb_title_id', 'original_title', 'worlwide_gross_income']].merge(
    ratings_df,
    on='imdb_title_id',
    how='inner'
)

movie_ratings_df.head(10)

,imdb_title_id,original_title,worlwide_gross_income,total_votes,mean_vote,median_vote,males_allages_avg_vote,females_allages_avg_vote
0,tt0000009,Miss Jerry,NaN,154,5.90,6.00,6.20,6.00
1,tt0000574,The Story of the Kelly Gang,NaN,589,6.30,6.00,6.10,6.20
2,tt0001892,Den sorte drøm,NaN,188,6.00,6.00,5.90,5.70
3,tt0002101,Cleopatra,NaN,446,5.30,5.00,5.10,5.90
4,tt0002130,L'Inferno,NaN,2237,6.90,7.00,7.00,7.20
5,tt0002199,"From the Manger to the Cross; or, Jesus of Nazareth",NaN,484,5.80,6.00,5.70,5.80
6,tt0002423,Madame DuBarry,NaN,753,6.80,7.00,6.60,7.40
7,tt0002445,Quo Vadis?,NaN,273,6.20,6.00,6.20,6.30
8,tt0002452,Independenta Romaniei,NaN,198,7.10,7.00,6.70,7.00
9,tt0002461,Richard III,NaN,225,5.40,6.00,5.50,7.70

In [33]:
movie_ratings_df[['original_title', 'mean_vote', 'total_votes']].sort_values(by='mean_vote', ascending=False).head(10)

                          original_title  mean_vote  total_votes
54217  Lejos de Casa pelicula Venezolana       9.80          133
56329                          Meka Suri       9.80         1126
43957                     Ragile Gundelu       9.80          888
80049                        Sand Angels       9.70          676
83275                    Suvarna Sundari       9.70          896
79487                Ekvtime: Man of God       9.70         2644
78481            A Petty Bourgeois Dream       9.70          701
58809                      Hopeful Notes       9.70          669
55474             Punya Bhoomi Naa Desam       9.70          775
84995                        Notuku Potu       9.70          926

In [34]:
filtered_movie_ratings_df = movie_ratings_df[movie_ratings_df['total_votes'] >= 500000].copy()

In [35]:
filtered_movie_ratings_df[['original_title', 'mean_vote', 'total_votes']].sort_values(by='mean_vote', ascending=False).head(10)

,original_title,mean_vote,total_votes
28453,The Shawshank Redemption,9.10,2278845
48078,The Dark Knight,8.90,2241615
15528,The Godfather,8.90,1572674
34127,The Lord of the Rings: The Return of the King,8.80,1604280
16556,The Godfather: Part II,8.80,1098714
8973,12 Angry Men,8.80,668473
12567,"Il buono, il brutto, il cattivo",8.70,672499
32487,Fight Club,8.70,1807440
31279,The Lord of the Rings: The Fellowship of the Ring,8.70,1619920
27629,Schindler's List,8.70,1183248

In [36]:
filtered_movie_ratings_df['skewness'] = filtered_movie_ratings_df['mean_vote'] - filtered_movie_ratings_df['median_vote']
filtered_movie_ratings_df.head(10)

,imdb_title_id,original_title,worlwide_gross_income,total_votes,mean_vote,median_vote,males_allages_avg_vote,females_allages_avg_vote,skewness
4126,tt0034583,Casablanca,"4,374,761.00",509953,8.40,9.00,8.50,8.30,-0.60
8973,tt0050083,12 Angry Men,576.00,668473,8.80,9.00,9.00,8.80,-0.20
10455,tt0054215,Psycho,"32,008,644.00",586765,8.40,9.00,8.50,8.40,-0.60
12567,tt0060196,"Il buono, il brutto, il cattivo","25,252,481.00",672499,8.70,9.00,8.90,8.40,-0.30
13354,tt0062622,2001: A Space Odyssey,"68,989,547.00",587866,8.10,9.00,8.30,7.90,-0.90
14879,tt0066921,A Clockwork Orange,"26,903,440.00",740301,8.20,9.00,8.30,8.10,-0.80
15528,tt0068646,The Godfather,"246,120,974.00",1572674,8.90,10.00,9.20,8.90,-1.10
16556,tt0071562,The Godfather: Part II,"48,035,783.00",1098714,8.80,9.00,9.00,8.70,-0.20
17068,tt0073195,Jaws,"471,961,371.00",535807,8.00,8.00,8.00,7.60,0.00
17147,tt0073486,One Flew Over the Cuckoo's Nest,"108,997,629.00",891071,8.60,9.00,8.70,8.60,-0.40

In [37]:
filtered_movie_ratings_df.sort_values('skewness', ascending=False).head(10)

,imdb_title_id,original_title,worlwide_gross_income,total_votes,mean_vote,median_vote,males_allages_avg_vote,females_allages_avg_vote,skewness
44510,tt0383574,Pirates of the Caribbean: Dead Man's Chest,"1,066,179,725.00",644330,7.50,7.00,7.30,7.50,0.50
48577,tt0478970,Ant-Man,"519,311,965.00",553758,7.40,7.00,7.20,7.40,0.40
31381,tt0120903,X-Men,"296,339,528.00",562022,7.40,7.00,7.30,7.60,0.40
32987,tt0145487,Spider-Man,"825,025,036.00",675212,7.40,7.00,7.30,7.10,0.40
41787,tt0316654,Spider-Man 2,"788,976,453.00",532565,7.40,7.00,7.30,6.90,0.40
57648,tt1392170,The Hunger Games,"694,394,724.00",830511,7.40,7.00,7.00,7.80,0.40
21112,tt0086250,Scarface,"66,023,585.00",721343,8.30,8.00,8.30,8.00,0.30
36422,tt0208092,Snatch,"83,557,872.00",766589,8.30,8.00,8.30,8.10,0.30
30622,tt0119217,Good Will Hunting,"225,933,435.00",837379,8.30,8.00,8.30,8.20,0.30
29371,tt0114709,Toy Story,"404,265,438.00",864461,8.30,8.00,8.30,8.20,0.30

In [38]:
filtered_movie_ratings_df['rating_discrepency_by_sex'] = filtered_movie_ratings_df['males_allages_avg_vote'] - filtered_movie_ratings_df['females_allages_avg_vote']

In [39]:
filtered_movie_ratings_df.sort_values(by='rating_discrepency_by_sex', ascending=False)

,imdb_title_id,original_title,worlwide_gross_income,total_votes,mean_vote,median_vote,males_allages_avg_vote,females_allages_avg_vote,skewness,rating_discrepency_by_sex
28975,tt0113277,Heat,"187,436,818.00",562387,8.20,8.00,8.30,7.80,0.20,0.50
32229,tt0133093,The Matrix,"465,718,588.00",1632315,8.50,9.00,8.80,8.30,-0.50,0.50
60261,tt1637725,Ted,"549,368,315.00",562136,7.00,7.00,7.00,6.50,0.00,0.50
26297,tt0103064,Terminator 2: Judgment Day,"520,884,847.00",974970,8.40,9.00,8.60,8.10,-0.60,0.50
27320,tt0107048,Groundhog Day,"70,906,973.00",569359,8.00,8.00,8.10,7.60,0.00,0.50
...,...,...,...,...,...,...,...,...,...,...
40831,tt0295297,Harry Potter and the Chamber of Secrets,"879,569,371.00",535906,7.60,8.00,7.30,7.90,-0.40,-0.60
37792,tt0241527,Harry Potter and the Sorcerer's Stone,"1,001,985,848.00",625097,7.70,8.00,7.40,8.10,-0.30,-0.70
62334,tt1825683,Black Panther,"1,347,280,838.00",597058,7.30,8.00,7.10,7.80,-0.70,-0.70
63406,tt1951264,The Hunger Games: Catching Fire,"865,011,746.00",603034,7.70,8.00,7.30,8.00,-0.30,-0.70
57648,tt1392170,The Hunger Games,"694,394,724.00",830511,7.40,7.00,7.00,7.80,0.40,-0.80

In [40]:
movies_df[movies_df['director'].str.contains(',') == True].head(3)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de Liguoro, Pier Delle Vigne, Augusto Milla, Attilio Motta, Emilise Beretta",Loosely adapted from Dante's Divine Comedy and inspired by the illustrations of Gustav Doré the original silent film has been restored and has a new score by Tangerine Dream.,7.00,2237,NaN,NaN,NaN,NaN,31.00,14.00
8,tt0002452,Independenta Romaniei,Independenta Romaniei,1912,1912-09-01,"History, War",120,Romania,NaN,"Aristide Demetriade, Grigore Brezeanu","Aristide Demetriade, Petre Liciu",Societatea Filmului de Arta Leon Popescu,"Aristide Demetriade, Constanta Demetriade, Constantin Nottara, Pepi Machauer, Aurel Athanasescu, Jeny Metaxa-Doro, Nicolae Soreanu, Vasile Toneanu, Aristita Romanescu, Elvire Popesco, M. Vîrgolici, C. Nedelcovici, Mihail Tancovici-Cosmin, Ion Dumitrescu, Gheorghe Meliseanu",The movie depicts the Romanian War of Independence (1877-1878).,6.70,198,ROL 400000,NaN,NaN,NaN,4.00,1.00
9,tt0002461,Richard III,Richard III,1912,1912-10-15,Drama,55,"France, USA",English,"André Calmettes, James Keane","James Keane, William Shakespeare",Le Film d'Art,"Robert Gemp, Frederick Warde, Albert Gardner, James Keane, George Moss, Howard Stuart, Virginia Rankin, Violet Stuart, Carey Lee, Carlotta De Felice",Richard of Gloucester uses manipulation and murder to gain the English throne.,5.50,225,$ 30000,NaN,NaN,NaN,8.00,1.00

In [41]:
movies_df['director_list'] = movies_df['director'].str.split(',')

movies_df[['director', 'director_list']].head(5)

                              director                           director_list
0                      Alexander Black                       [Alexander Black]
1                         Charles Tait                          [Charles Tait]
2                            Urban Gad                             [Urban Gad]
3                   Charles L. Gaskill                    [Charles L. Gaskill]
4  Francesco Bertolini, Adolfo Padovan  [Francesco Bertolini,  Adolfo Padovan]

In [42]:
exploded_movies_df = movies_df.explode('director_list').copy()

exploded_movies_df[['director', 'director_list']][exploded_movies_df['director'].str.contains(',') == True].head(6)

                                director        director_list
4    Francesco Bertolini, Adolfo Padovan  Francesco Bertolini
4    Francesco Bertolini, Adolfo Padovan       Adolfo Padovan
8  Aristide Demetriade, Grigore Brezeanu  Aristide Demetriade
8  Aristide Demetriade, Grigore Brezeanu     Grigore Brezeanu
9           André Calmettes, James Keane      André Calmettes
9           André Calmettes, James Keane          James Keane

In [43]:
grouped_exploded_movies_df = exploded_movies_df.groupby('director_list', as_index=False).agg({'worlwide_gross_income': 'sum'})

grouped_exploded_movies_df

                    director_list  worlwide_gross_income
0                A. Blaine Miller                   0.00
1            A. Edward Sutherland                   0.00
2                      A.L. Vijay           2,915,137.00
3              A.S. Ravindra Babu                   0.00
4                    A.V. Bramble                   0.00
...                           ...                    ...
36589                Ümit Köreken              10,850.00
36590                   Ümit Ünal           3,090,637.00
36591  Þorsteinn Gunnar Bjarnason             325,032.00
36592           Þráinn Bertelsson                   0.00
36593    Þórhildur Þorleifsdóttir               5,095.00

[36594 rows x 2 columns]

In [44]:
grouped_exploded_movies_df.sort_values(by='worlwide_gross_income', ascending=False).head(10)

           director_list  worlwide_gross_income
32765   Steven Spielberg      10,521,265,279.00
6543       Anthony Russo       6,848,715,547.00
1878           Joe Russo       6,848,715,547.00
27744      Peter Jackson       6,601,458,791.00
24541        Michael Bay       6,451,692,798.00
17090      James Cameron       6,185,441,282.00
11352        David Yates       6,021,255,883.00
9731   Christopher Nolan       4,870,773,767.00
16724        J.J. Abrams       4,653,989,459.00
33852         Tim Burton       4,456,403,545.00